<!--
  Generated template for the MakePostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{mode}} Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <input (keydown.enter)="addPost($event.target.value)" />

    <ion-item *ngFor="let n of news | async">
        {{n.title}}
      </ion-item>
  <!-- <form>
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Category</ion-label>
      <ion-select>
        <ion-option *ngFor="let categories of categoryOptions" [value]="categories">{{categories}}</ion-option>
      </ion-select>
       </ion-item>
    </ion-list>
    <button (click)="addPost()" type="submit" ion-button block>{{mode}} Post</button>
  </form> -->

     
</ion-content>
