page-make-post {
    textarea {
        max-width: 100%;
        width: 100%;
        height: 15vh;
        }
        a:link{
            text-decoration: none;
            color:black;
           }
           a:hover{
               color:grey;
           }
           @media screen and (min-width:800px) {
            .card-image{
                     width: 50%;
                     height: 50%;
                     margin-left: auto;
                     margin-right: auto;
            }
            
        }
        .card-image{
            // får fixa en fade in här
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s; /* Firefox < 16 */
             -ms-animation: fadein 2s; /* Internet Explorer */
              -o-animation: fadein 2s; /* Opera < 12.1 */
                 animation: fadein 2s;
                
                 margin-left: auto;
                 margin-right: auto;
        }
           .card-title{
               font-size: 17px;
               margin: 5px;
           }
           .card-description{
               margin: 5px;
           }
           .card-categories{
            margin: 5px;
        }
        .card-categories{
            margin: 5px;
        }
        .card-button{
            float:right;
            margin: 5px;
        }
    .card-buttonv2{
        margin: 5px;
        
    }
    .card-date{
        margin: 5px;
        text-align:right;
    }
}
